

html,
body,
#root {
  height: 100%;
  margin: 0;
}

footer {
  position: sticky;
  bottom: 0;
}


.bg-dark {
  background-color: #1f1e1d !important; /* your custom dark shade */
}

.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
